<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="board-game">
    <h1 style="font-size: 28px"><%= title %></h1>
    <div class="header-game">
        <p id="playerA">Player: A | Score: 10 </p>
        <p id="playerB">Player: B | Score: 9</p>
        <p id="time">Date Time: 20 minutes</p>
    </div>
    <div class="board">
        <% for(var i = 0; i < numberBoard; i++) { %>
            <div class="box">
                <p><img src='/images/frame1.png' alt='question' height="auto" width="auto"></img</p>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>
