<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="board-game">
    <h1 style="font-size: 28px"><%= title %></h1>
    <div class="header-game">
        <p>Player: A | Score: <span id="playerA">0</span> | <span id="totalA">0</span></p>
        <p>Player: B | Score: <span id="playerB">0</span> | <span id="totalB">0</span></p>
        <p id="time"><span id="time">05:00</span> </p>
    </div>
    <div class="board">
        <% for(var i = 0; i < numberBoard; i++) { %>
            <div class="box">
                <p><img src=<%= questions[i] %> alt='question' height="auto" width="auto"></img</p>
            </div>
        <% } %>
    </div>

    <div class="endgame" style="display: none;visibility: hidden">
        <p>Congurations <span id="winner"></span>  </p>
        <p>Score <span id="score">0</span></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js">
    </script>
    <script>
        var socket = io()
        socket.on('answer', function (msg) {
            sessionStorage.setItem("session_hackathon", msg.session_id);

            function loadContent() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // window.location = '/boards' // end game
                        // alert(this.response.data)
                        // console.log(this.response)
                        var playerA = document.querySelector('#playerA');
                        playerA.textContent = this.response.data[msg.user_id].total_correct
                        var totalPlayA = document.querySelector('#totalA');
                        totalPlayA.textContent = this.response.data[msg.user_id].total

                    }
                };
                xhttp.open("GET", "sessions/"+msg.session_id+"/calculate", true);
                xhttp.send();
            }
            loadContent()
        })


        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = "Count Down " +minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                    // send socket event to end game
                    endGame()
                }
            }, 1000);
        }

        function endGame() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4
                //    && this.status == 200
                ) {
                    var divOne = document.getElementsByClassName("header-game");
                    divOne.style.display='hidden';
                    var divTwo = document.getElementsByClassName("board");
                    divOne.style.display='hidden';

                    var playerA = document.querySelector('#winner');
                    playerA.textContent = this.response.data[0].user_id
                    var totalPlayA = document.querySelector('#score');
                    totalPlayA.textContent = this.response.data[0].total_correct

                    var endGame = document.getElementsByClassName("endgame");
                    endGame.style.display = 'none'

                }
            };
            xhttp.open("POST", "sessions/"+sessionStorage.getItem('session_hackathon')+"/end", true);
            xhttp.send();
            // alert(sessionStorage.getItem('session_hackathon'))
        }

        window.onload = function () {
            var fiveMinutes = 60 * 2,
                display = document.querySelector('#time');
            startTimer(fiveMinutes, display);
        };
    </script>

</div>
</body>
</html>
