<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="board-game">
    <h1 style="font-size: 28px"><%= title %></h1>
    <div class="header-game">
        <p id="playerA">Player: A | Score: 0 </p>
        <p id="playerB">Player: B | Score: 0</p>
        <p id="time">Date Time: 20 minutes</p>
    </div>
    <div class="board">
        <% for(var i = 0; i < numberBoard; i++) { %>
            <div class="box">
                <p><img src=<%= questions[i] %> alt='question' height="auto" width="auto"></img</p>
            </div>
        <% } %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js">
    </script>
    <script>
        var socket = io()
        socket.on('answer', function (msg) {
            function loadContent() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // window.location = '/boards' // end game
                        alert(this.response)
                    }
                };
                xhttp.open("POST", "sessions/"+msg.session_id+"/end", true);
                xhttp.send();
            }
            loadContent()
        })
    </script>

</div>
</body>
</html>
